@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    /* background-color: black; */
}

#logo{
    padding-top: 20px;
    padding-left: 20px;
    height: 60px;
}

.high{
    display: flex;
}

.side-nav{
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    /* padding: ; */
    color: white;
    /* display: flex; */
    z-index: -1;
    font-size: 10px;
}

.right-side img{
    height: 50px;
}

.upper{
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
}

.home{
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.home h1{
    padding-left: 15px;
}

.home img{
    height: 20px;
}

.plus{
    background-color: white;
    height: 20px;
    width: 20px;
    align-content: center;
}

.more-lower{
    margin: 20px 20px;
    background-color: black;
}

.more-lower h2{
    margin-top:10px;
}

.install{
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.install img{
    height: 20px;
}
.install h1{
    margin-left: 15px;
}
/* Lower play bar */

.lower-side{
    display: flex;
    align-items: flex-end;
    /* height: 100px; */
    width: 100%;
    z-index: 999;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    background-color: rgb(66, 66, 66);
    border-top: 1px solid white;
    padding-bottom: 10px;
}

.rightopt{
    height: 30px;
    margin-top: 10px;
}

.dream{
    display: flex;
    color: white;
    align-items: center;
}

.dream p{
    margin: 5px;
}
.nef{
    display: flex;
    flex-direction: column;
}

/* .lower-side img{
    height: 50px;
    margin-top: 10px;
} */

.flexend{
    display: flex;
    align-items: flex-end;
}

.green{
    height: 100px;
    width: 100%;
    color: green;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.right-side{
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 15%;
    background-color: rgb(66, 66, 66);
    justify-content: space-between;
    width: 85%;
}

.profile{
    display: flex;
    color: white;
    background-color: black;
    height: 32px;
    border-radius: 16px;
    margin: 10px;

}

.profile img{
    height: 30px;
    border-radius: 50%;
}

.arrow img{
    height: 30px;
    margin: 20px;
}

.angel{
    display: flex;
    justify-content: space-between;

}

.good1{
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 20%;
    background-color: rgb(46, 46, 46);
    justify-content: space-between;
    width: 80%;

}
.good{
    padding-top: 40px;
    padding-left: 300px;
    color: black;
    /* background-color: rgb(46, 46, 46); */
    z-index: -10;
}

.happy{
    padding-top: 70px;
    margin-left: 205px;
    color: #25211F;
    background-color:rgb(66, 66, 66);
    z-index: -10;
    display: flex;
    flex-wrap: wrap;

}

.songs{
    display: flex;
    height: 70px;
    width: 250px;
    background-color: #353332;
    margin: 10px;
    align-items: center;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 10px;

}

.songs img{
    height: 70px;
    width: 70px;
}

.songs h1{
    padding: 4px;
}

.face{
    height: 200px;
    width: 150px;
    background-color: #353332;
    margin: 120px 10px 5px 10px;
    color: white;
    font-size: 10px;
    align-content: center;
}

.face img{
    height: 130px;
    margin: 10px;
}

.face h1{
    margin-left: 10px;
}

.happy1{
    margin-top: 0px;
    margin-left: 205px;
    color: #25211F;
    background-color:rgb(66, 66, 66);
    z-index: -10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
